In [3]:
import pandas as pd

In [4]:
a = pd.read_csv("test.csv")

In [5]:
a

          name  id
0    mengziwen   0
1  ouyangwenyu   1

In [6]:
a["name"]

0      mengziwen
1    ouyangwenyu
Name: name, dtype: object